*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.container{
 
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   background-color: white;
   width: 350px;
   height: 140px;
}
.container>.input{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}
.container>.input>input{
  height: 35px;
  width: 35px;
  
  border-radius: 20px solid gray;
  text-align: center;
}
.btn{
  background-color: rgb(244, 20, 106);
  width: 90px;
  height: 40px;
  color: white;
  font-weight: bold;
  border-color: lightcoral;
  border-radius: 10px;
}
@media (max-width: 800px){
  .container{
    width: 90%;
    height: 30%;
  }
  .container>.input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  
  }
  .container>.input>input{
    border: 0.1px solid gray;
  }
}